<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Beli</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/beli.css')}}">

</head>
<body>
    <div class="back-button">
        <a href="{{url_for('beranda')}}" class="back-link">Back</a>
    </div>
    <div class="container">
        <header>
            <div class="logo">Logo</div>
            <h1>Nama Aplikasi</h1>
        </header>
        <input type="text" placeholder="Search" class="search-bar">
        <div class="products">
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
            <div class="product-item">Barang Jualan</div>
        </div>
    </div>
</body>
</html>
