<!DOCTYPE html>
<html>
<head>
    <title>Halaman Jual</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jual.css')}}">
</head>
<body>
    <div class="back-button">
        <a href="{{url_for('beranda')}}" class="back-link">Back</a>
    </div>
    <div class="header">
        <div class="logo">
            <img src="static/logo.png" alt="Logo" class="logo-image">
            <span class="app-title">Nama Aplikasi</span>
        </div>
        <div class="profile">
            <a href="{{url_for('profile')}}" class="profile-a">
                <img src="static/profile.png" alt="" class="profile-image">
                <span>Profil Penjual</span>
            </a>
        </div>
    </div>
    <div class="product-grid">
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
        <div class="product">Barang Jualan</div>
    </div>
    <div class="footer">
        <button class="button">Tambahkan barang</button>
        <button class="button">Hapus barang</button>
    </div>
</body>
</html>
